<mat-card class="container appointment-panel">
  <mat-card-title>{{ 'appointmentDetailFrom.title' | translate }}</mat-card-title>

  <form [formGroup]="form">
    <mat-form-field appearance="outline" class="full">
      <mat-label>{{ 'appointmentDetailFrom.prefecture.label' | translate }}</mat-label>
      <mat-select
        formControlName="prefecture"
        (selectionChange)="onPrefectureChange($event.value)"
      >
        <mat-option *ngFor="let pref of prefectures" [value]="pref.id">
          {{ pref.name | translate }}
        </mat-option>
      </mat-select>
      <mat-error *ngIf="form.get('prefecture')?.invalid">
        {{ 'appointmentDetailFrom.prefecture.required' | translate }}
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline" class="full" *ngIf="form.get('prefecture')?.value">
      <mat-label>{{ 'appointmentDetailFrom.location.label' | translate }}</mat-label>
      <mat-select
        formControlName="location"
        (selectionChange)="onLocationChange($event.value)"
      >
        <mat-option *ngFor="let item of filteredLocations" [value]="item.id">
          {{ item.name }} - {{ item.address }} ({{ item.phone }})
        </mat-option>
      </mat-select>
      <mat-error *ngIf="form.get('location')?.invalid">
        {{ 'appointmentDetailFrom.location.required' | translate }}
      </mat-error>
    </mat-form-field>


    <!-- Time Slot as Radio Buttons -->
    <div class="full time-slot-radio" *ngIf="form.get('location')?.value">
      <mat-label>{{ 'appointmentDetailFrom.timeSlot.label' | translate }}</mat-label>

      <mat-radio-group formControlName="timeSlot">
        <mat-radio-button class="full"
                          *ngFor="let slot of currentTimeSlots"
                          [value]="slot.id">
          {{ slot.label | translate }}
        </mat-radio-button>
      </mat-radio-group>
    </div>

    <mat-form-field appearance="outline" class="full" *ngIf="form.get('location')?.value">
      <mat-label>{{ 'appointmentDetailFrom.date.label' | translate }}</mat-label>
      <input
        matInput
        [matDatepicker]="picker"
        formControlName="appointmentDate"
        [min]="minDate"
      >
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
      <mat-error *ngIf="form.get('appointmentDate')?.invalid">
        {{ 'appointmentDetailFrom.date.required' | translate }}
      </mat-error>
    </mat-form-field>

  </form>
</mat-card>
