<mat-card class="container appointment-panel">
  <mat-card-title>{{ 'appointmentDetailFrom.title' | translate }}</mat-card-title>

  <form [formGroup]="form">
    <!-- Location -->
    <mat-form-field appearance="outline" class="full">
      <mat-label>{{ 'appointmentDetailFrom.location.label' | translate }}</mat-label>
      <mat-select
        formControlName="location"
        (selectionChange)="onLocationChange($event.value)"
      >
        <mat-optgroup *ngFor="let group of locations" [label]="group.group | translate">
          <mat-option *ngFor="let item of group.items" [value]="item.value">
            {{ item.label | translate }}
          </mat-option>
        </mat-optgroup>
      </mat-select>
      <mat-error *ngIf="form.get('location')?.invalid">
        {{ 'appointmentDetailFrom.location.required' | translate }}
      </mat-error>
    </mat-form-field>


    <!-- Time Slot as Radio Buttons -->
    <div class="full time-slot-radio">
      <mat-label>{{ 'appointmentDetailFrom.timeSlot.label' | translate }}</mat-label>

      <mat-radio-group formControlName="timeSlot">
        <mat-radio-button class="full"
                          *ngFor="let slot of currentTimeSlots"
                          [value]="slot.value"
        >
          {{ slot.label | translate }}
        </mat-radio-button>
      </mat-radio-group>
    </div>

    <!-- Date -->
    <mat-form-field appearance="outline" class="full">
      <mat-label>{{ 'appointmentDetailFrom.date.label' | translate }}</mat-label>
      <input
        matInput
        [matDatepicker]="picker"
        formControlName="appointmentDate"
        [min]="minDate"
      >
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
      <mat-error *ngIf="form.get('appointmentDate')?.invalid">
        {{ 'appointmentDetailFrom.date.required' | translate }}
      </mat-error>
    </mat-form-field>

  </form>
</mat-card>
