<div class="desktop-view" *ngIf="selectedVaccine && amountVaccine && petSize">
  <table mat-table [dataSource]="products" class="mat-elevation-z1 container">

    <!-- Individual name -->
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef colspan="2" style="text-align: center">
        <b>{{ 'vaccineIndividualForm.name' | translate }}</b>
      </th>
      <td [hidden]="row?.rowspan?.productCode === 0" [attr.rowspan]="row?.rowspan?.productCode" mat-cell *matCellDef="let row">
        <b>{{ row.displayNameJp }}</b>
      </td>
    </ng-container>

    <!-- Service -->
    <ng-container matColumnDef="content">
      <th mat-header-cell *matHeaderCellDef [hidden]="true"></th>
      <td mat-cell [hidden]="row?.rowspan?.productCode === 0" [attr.rowspan]="row?.rowspan?.productCode" *matCellDef="let row">
        <pre> {{ row.descriptionJp }}</pre>
      </td>
    </ng-container>

    <!-- Size -->
    <ng-container matColumnDef="size">
      <th mat-header-cell *matHeaderCellDef>
        <b>{{ 'vaccineIndividualForm.size' | translate }}</b>
      </th>
      <td mat-cell *matCellDef="let row"
          [class.disable-cell]="row.petSize !== 'ALL' && petSize.value !== row.petSize">
        {{ row.petSize | translate }}
      </td>
    </ng-container>

    <!-- Price -->
    <ng-container matColumnDef="price">
      <th mat-header-cell *matHeaderCellDef>
        <b>{{ 'vaccineIndividualForm.price' | translate }}</b>
      </th>
      <td mat-cell *matCellDef="let row"
          [class.disable-cell]="row.petSize !== 'ALL' && petSize.value !== row.petSize">
        ¥{{ row.price | number }}
      </td>
    </ng-container>

    <ng-container matColumnDef="select">
      <th mat-header-cell *matHeaderCellDef></th>
      <td mat-cell *matCellDef="let row">
        <mat-checkbox *ngIf="getSelectionControl(row.productId)"
                      [formControl]="getSelectionControl(row.productId)!"
                      (change)="onSelectVaccine(row.productId)"/>
      </td>
    </ng-container>

    <ng-container matColumnDef="amount">
      <th mat-header-cell *matHeaderCellDef></th>
      <td mat-cell *matCellDef="let row">
        <mat-form-field style="margin-top: 1rem" *ngIf="getAmountControl(row.productId)">
          <input matInput [formControl]="getAmountControl(row.productId)!" type="number"/>
          <mat-error *ngIf="getAmountControl(row.productId)?.hasError('min')">
            The minimum amount is 1.
          </mat-error>
        </mat-form-field>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>
</div>
