<div class="success-wrapper">
  <mat-card class="success-card mat-elevation-z3">

    <!-- CODE -->
    <mat-card-title class="code">
      Code: <b>HCM_123</b>
    </mat-card-title>

    <!-- QR CODE -->
    <div class="qr">
      <qrcode
        [qrdata]="'HCM_123'"
        [width]="180">
      </qrcode>
    </div>


    <!-- INFO -->
    <mat-card-content class="info">
      <div><b>Location:</b> HCM</div>
      <div><b>Date & Time:</b> 12-03-2025 12:00</div>
    </mat-card-content>

    <!-- MESSAGE -->
    <mat-card-footer class="message">
      Your vaccine appointment was registered successfully!
    </mat-card-footer>

  </mat-card>
</div>
