name: Build and Deploy
on:
  push:
    branches:
      - main
jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3
    - name: All things angular
      uses: AhsanAyaz/angular-deploy-gh-pages-actions@v1.4.0
      with:
        github_access_token: ${{ secrets.GH_TOKEN }}
        build_configuration: production
        base_href: /j-pet-care/
        deploy_branch: gh-pages
        angular_dist_build_folder: dist/j-pet-care/browser

permissions:
  contents: write # Allow write permission to GITHUB_TOKEN to commit to deploy branch.
